.components {
  height: 60px;
  width: 600px;
  border: 2px solid orange;
  color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  font-family: sans-serif;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid orange;
  height: 600px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(228, 231, 40);
  width: 30px;
  font-size: 25px;

}